@use '../../page.module.scss' as v;

@keyframes slide-down {
    0% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(0px);
    }
}

.headerContainer {
    display: flex;
    justify-content: center;
}

.headerMainContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.active {
    color: blue;
}

.navItems {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap; 
    a {
        color: v.$base-color;
        font-size: 14px;
        opacity: .8;
        font-weight: 600;
    }
    a:hover {
        opacity: 1;
    }
}

.menu {
    display: none;
    svg {
        font-size: large;
    }
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    animation: slide-down .6s ease-in-out both;
    animation-direction: alternate;
}


@media (max-width:734px) {
    .headerContainer {
        position: sticky;
        top: 0;
        left: 0;
        background-color: v.$secondary-color;
    }
    .navItems {
        flex-direction: column;
    }
    .nav {
        position: absolute;
        background-color: v.$secondary-color;
        top: 80px;
        width: 100%;
        text-align: center;
        flex-direction: column;
        padding: 30px;
        gap: 1rem;
        z-index: -3;
    }
    .menu {
        display: block;
    }
}